[Unit]
Description=Webex Teams Status Light
Wants=network.target

[Service]
Environment=WEBEX_TEAMS_ACCESS_TOKEN=<WEBEX TEAMS ACCESS TOKEN HERE>
Environment=PERSON=<PERSON ID HERE>
ExecStart=/usr/bin/python3 /path/to/name/of/program.py
Restart=always
RestartSec=60s
KillMode=process
#TimeoutSec=infinity

[Install]
WantedBy=multi-user.target